
.ctn {
	border: 1px solid black;
	width: 1200px;
	max-width: 100%;
}



.link {
	font-size: 20px;
	a {
		border-bottom: 1px solid #0047FF;
		color: #0047FF;

	}

}
/*

.linksGroup {
	display: grid;
	grid-gap: 100px;
	justify-content: center;
	align-items: center;
	grid-template-columns: auto auto;
}
*/
