
.ctn {
	border: 1px solid black;
	width: 1200px;
	max-width: 100%;
}



.link {
	border-bottom: 1px solid #0047FF;
	a {
		font-size: 20px;
		color: #0047FF;
	}

}

.linksGroup {
	display: grid;
	grid-gap: 100px;
	justify-content: center;
	grid-auto-flow: column;
}
